@model dynamic

@{
    ViewBag.Title = "Anagrams code kata implemented with JavaScript";
}
<h2>Anagrams-Kata</h2>
<div id="loading">Loading...</div>
<div id="total"></div>
<div id="anagramsContainer">
    <ul id="anagrams"></ul>
</div>
